{{>layout/header}}
<div>
    <form class="d-flex" role="search" action="/hospitals" , method="get">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">No</th>
        <th scope="col">이름</th>
        <th scope="col">도로명주소</th>
    </tr>
    </thead>
    <tbody>
    {{#hospitals}}
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="/hospitals/{{id}}">{{hospitalName}}</a></td>
            <td>{{roadNameAddress}}</td>
        </tr>
    {{/hospitals}}
    </tbody>
</table>
<div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
    {{#keyword}}
        <a href="?page={{previous}}&keyword={{keyword}}" type="button" class="btn btn-outline-dark">Previous</a>
        <a href="?page={{next}}&keyword={{keyword}}" type="button" class="btn btn-outline-dark">Next</a>
    {{/keyword}}
    {{^keyword}}
        <a href="?page={{previous}}" type="button" class="btn btn-outline-dark">Previous</a>
        <a href="?page={{next}}" type="button" class="btn btn-outline-dark">Next</a>
    {{/keyword}}
</div>
{{>layout/footer}}