{{>layout/header}}

<div>
    이 페이지는 show입니다.
    {{#article}}
        {{id}} {{title}} {{content}}
    {{/article}}
    <a href="/articles/new" class="btn btn-primary stretched-link">new article</a>
    <a href="/articles" class="btn btn-primary stretched-link">article list</a>
</div>

{{>layout/footer}}